--extra-index-url https://download.pytorch.org/whl/cpu

numpy
pandas==2.2.2
torch==2.7.0+cpu

einops==0.8.1
huggingface_hub==0.33.1
matplotlib==3.9.3
tqdm==4.67.1
safetensors==0.6.2

flask==2.3.3
flask-cors==4.0.0
plotly==5.17.0
python-dotenv>=1.0.1
requests>=2.32.0
streamlit
yfinance>=0.2.54
